<h1>Post Board</h1>

<% @posts.each do |post| %>
  <ul>
    <li>
      <%= post.body %> | 
      <% if logged_in? %>
        <%= post.user.name %> 
      <% else %>
        <%= "Anonymous" %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= link_to "New Post", new_post_path %>